.btn{
    padding: 1em;
    border-radius: 10%;
    font-weight: bold;
}

.btn-normal{
    color:white;
    background-color: blue;
}
.btn-warning{
    color:black;
    background-color: orange;
}
.btn-delete{
    color:white;
    background-color: red;
}